
.verde-claro{
    background-color: aquamarine;
}
.azul{
    background-color: cornflowerblue;
}
.rosa{
    background-color: hotpink;
}
.laranja-escuro{
    background-color: lightcoral;
}
.verde-forte{
    background-color: green;
}
.marrom{
    background-color: burlywood;
}

.container{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(3, auto);
    grid-gap: 15px;

}
/* grid-column-start: 1;
    grid-column-end: 3; 
    grid-column: 1 / 3;

    grid-row-start: 1;
    grid-row-end: 3;
    
   grid-row: 1 / span 2 ; 
   
      grid area 
    
    grid-row-start ( linnha )
    grid-column-start (coluna )
    grid-row-end
    grid-column-end
    */

.verde-claro{
    grid-area: 1 / 1 / 3 / 3
}
.azul{
    grid-area: 1 / 3 / 1 / 6;
}
.rosa{
    grid-area: 3 / 1 / 3 / 3;
}
.laranja-escuro{
    grid-area: 2 / 3 / 4 / 5;
}